@* CONTRATO JÁ EXISTE *@
<div id="erro" class="animated">
    <div>
        <h1>OPS!</h1>
        <p>
            O contrato informado já existe para obra! <br />
        </p>
        <a href="~/Sistema/Portal"><input class="btn" type="submit" value="OK"></a>
    </div>
</div>
<script type="text/javascript">
    $(".box-acao").remove();
</script>


