@* ERRO SESÃO *@
<div id="erro" class="animated">
    <div>
        <h1>OPS!</h1>
        <p>Sua sessão expirou faça o login novamente para poder continuar!</p>
        <a href="~/Login/Credenciais"><input class="btn" type="submit" value="Fazer Login"></a>
    </div>
</div>
@* SCRIPTS *@
<script type="text/javascript">
    $("#progress").css('display', 'none');
    $(".box-acao").remove();
</script>
